
.input-col{
    width: 492px;
    height: 80px;
    background: #EBE9E6;
    font-size: 35px;
    border: none;
    border-radius: 10px
}

.cal-div{
    width: 498px;
    margin-top: 10px;
    background: #EBE9E6;
}

.col-1{
    display: flex;
    justify-content: space-between;
}

.col-2{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.col-3{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.col-4{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.but-num{
    padding: 10px;
    width: 80px;
    font-size: 50px;
}
.but-num1{
    width: 80px;
    font-size: 40px;
    padding: 10px;
}
.but-num2{
    width: 180px;
    font-size: 50px;
    background: orange;
}


@media (max-width: 576px) {
    .input-col{
        margin-top: 30px;
        padding: 20px;
        width: 460px;
        background: #EBE9E6;
        font-size: 35px;
    }
    .col-1{
        margin: 20px;
    }
    .col-2{
        margin: 20px;
    }
    .col-3{
        margin: 20px;
    }
    .col-4{
        margin: 20px;
    }

}




